@font-face {
  font-family: "Inter";
  src: url("/fonts/InterVariable.ttf") format("truetype");
  font-weight: 400 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Noto Sans SC";
  src: url("/fonts/NotoSansSCVariable.ttf") format("truetype");
  font-weight: 400 700;
  font-style: normal;
  font-display: swap;
}