
{{ define "main" }}
<main class="section products-list" aria-labelledby="products-list-page-title">
  <div class="container">
    <div class="section__inner">
      <header class="section__header">
        <h1 id="products-list-page-title" class="section__title font-title-l">{{ .Title }}</h1>
        {{ with .Description }}
        <p class="section__description font-body">{{ . }}</p>
        {{ end }}
      </header>

      <ul class="products-list__grid">
        {{ range .RegularPages.ByWeight.ByTitle }}
        {{ $item := . }}
        <li class="products-list__item">
          <a class="products-list__card" href="{{ .RelPermalink }}">
            {{ with .Params.image }}
            <div class="products-list__media">
              <img class="products-list__image" src="{{ . | relURL }}" alt="{{ $item.Title }}" loading="lazy"
                decoding="async">
            </div>
            {{ end }}
            <div class="products-list__content">
              <h2 class="font-body">{{ .Title }}</h2>
            </div>
          </a>
        </li>
        {{ end }}
      </ul>
    </div>
  </div>
</main>
{{ end }}