.home-hero {
  background-image: var(--hero-bg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 72svh;
  display: flex;
}

.home-hero__inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #ffffff;
}