{{ define "main" }}

<main class="section contact" aria-labelledby="contact-page-title">
  <div class="container container--narrow">
    <div class="section__inner">
      <section class = "contact__form">
        {{ with .Params.form }}
        <div class="contact__form-header">
          
          {{ with .title }}
          <h2 id="contact-form-title" class="contact-page__panel-title font-body">{{ . }}</h2>
          {{ end }}

          {{ with .description }}
          <p class="contact__form-description font-body">{{ . }}</p>
          {{ end }}
        </div>
        
        <div class = "contact__form-body">
        {{ partial "form.html" (dict "page" $ "sitekey" $.Site.Params.turnstile_sitekey "id" "contact") }}
        </div>
        {{ end }}
      </section>

      <section class="contact__direct" aria-labelledby="contact-direct-title">
        {{ with .Params.direct }}
        <div class="contact__direct-header">
      
          {{ with .title }}
          <h2 id="contact-direct-title" class="contact__direct-title font-body">{{ . }}</h2>
          {{ end }}
      
          {{ with .description }}
          <p class="contact__direct-description font-body">{{ . }}</p>
          {{ end }}
      
        </div>
        {{ end }}

        <div class = "contact__direct-body">
          <div class = "contact__direct-item">
            
          </div>
        </div>

        </section>
    </div>
  </div>
</main>
{{ end }}
