{{ define "main" }}
<main class="home-page">

  {{ with .Params.home_hero }}
    {{ if .enable }}
    <section class="home-hero">
      {{ with .hero_bg }}
      <img class="home-hero__bg" src="{{ . | relURL }}" alt="" aria-hidden="true" decoding="async" fetchpriority="high">
      {{ end }}
      <div class="container home-hero__inner">
          <!-- 标题 -->
          {{ with .title }}
          <h1 class="home-hero__title">{{ . }}</h1>
          {{ end }}
          <!-- 描述 -->
          {{ with .description }}
          <p class="home-hero__description">{{ . }}</p>
          {{ end }}
          <!-- 按钮 -->
          {{ with .button }}
          <div class="home-hero__action">
            <a class="button" href="{{ .url | relLangURL }}">
              {{ .label }}
            </a>
          </div>
          {{ end }}

      </div>
    </section>
    {{ end }}
  {{ end }}

  {{ with .Params.home_ups }}
  {{ if .enable }}
  <section class="home-ups">
    <div class="container">
      <ul class="home-ups__inner">
        {{ range .items }}
        <li class="home-ups__item">
          {{ with .icon }}
          <div class="home-ups__icon">
            <i class="{{ . }}" aria-hidden="true"></i>
          </div>
          {{ end }}

          {{ with .title }}
          <h2 class="home-ups__title">{{ . }}</h2>
          {{ end }}

          {{ with .description }}
          <p class="home-ups__description">{{ . }}</p>
          {{ end }}
        </li>
        {{ end }}
      </ul>
    </div>
  </section>
  {{ end }}
{{ end }}


</main>
{{ end }}